@media (max-width: 720px) {

    .promo {
        display: grid;
        /* justify-content: space-between; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
        gap:0;
    }
    
    .promo__left {
        grid-row: 2;
        background: url(../img/promo.jpg);
        background-size: cover;
        background-position: center;
        height: auto;
        /* flex-shrink: 0; */
        width: 100%;
    
    }
    
    .promo__right {
        grid-row: 1;
        background-color: #dd5f26;
        padding: 50px 10px 50px 10px;
    }


    .header__logo {
        height: 20px;
        padding-right: 10px;
    }
    .about__sun-image{
        height: 75px;
        width: 75px;
    }
    .about__image{
        width: 280px;
    }
    .features {
        padding: 50px 10px 50px 10px;
        
    }
    .cards {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }
    .features_feedback {
        display: flex;
        flex-direction: column;
    }
    .features_feedback__left {
        margin-right: 0;
    }
    .features_feedback__left h2 {
        font-size: 36px;
    }
    .features_feedback__right {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .features_box h3 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 36px;
    }
    .features_savings-box {
        background-color: #dc5e26;
        box-shadow: 0 6px 0 0 rgb(221 95 38 / 20%);
        margin-right: 0;
        margin-bottom: 30px;
    }
    

    
    /* .about{
        padding-left: 10px;
        padding-right: 10px;
    } */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        background-color: #fff;
        top: 0;
        z-index: 1;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__controls {
        display: flex;
        align-items: center;
        /* padding-left: 10px;
        padding-right: 10px; */
    }

    .about{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        /* margin-left: 25px; */
        background: url('img/back.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-left: 10px;
        padding-left: 10px;
    }
    .about button {
        font-size: 18px;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 45px;
        padding-right: 45px;
        margin-top: 20px;
    }
    
    .form {
        background-color: #1D263A;
        color: #fff;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .form__container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    .form h1 {
        font-size: 36px;
        line-height: 40px;
        /* margin-left: 10px;
        margin-right: 10px; */
    }
    .about__info h1 {
        font-size: 36px;
        line-height: 40px;
        /* padding-left: 10px;
        padding-right: 10px; */
    }
    /* .about__info p {
        /* padding-left: 10px;
        padding-right: 10px;
    } */

    button {
        font-family: 'Railway', sans-serif;
        font-size: 15px;
        color: #fff;
        background-color: #23a030;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
        padding: 15px;
    }

    footer {
        padding-top: 50px;
        padding-bottom: 50px;
        /* padding-left: 20px;
        padding-right: 20px; */
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        font-weight: 600;
    }
}
@media (max-width: 1024px) and (min-width: 721px) {
    /* .header__logo {
        height: 20px;
        padding-right: 10px;
    } */

    .features {
        padding: 50px 10px 50px 10px;
        
    }
    .cards {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }
    .features_feedback {
        display: flex;
        flex-direction: column;
    }
    .features_feedback__left {
        margin-right: 0;
    }
    .features_feedback__left h2 {
        font-size: 36px;
    }
    .features_feedback__right {
        display: flex;
        flex-direction: column;
    }
    .features_savings-box {
        background-color: #dc5e26;
        box-shadow: 0 6px 0 0 rgb(221 95 38 / 20%);
        margin-right: 0;
        margin-bottom: 30px;
    }


    .about__sun-image{
        height: 75px;
        width: 75px;
    }
    .about__image{
        width: 280px;
    }

    
    /* .about{
        padding-left: 10px;
        padding-right: 10px;
    } */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        background-color: #fff;
        top: 0;
        z-index: 1;
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__controls {
        display: flex;
        align-items: center;
        /* padding-left: 10px;
        padding-right: 10px; */
    }

    .about{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        /* margin-left: 25px; */
        background: url('img/back.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-left: 20px;
        padding-left: 20px;
    }
    .about button {
        font-size: 18px;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 45px;
        padding-right: 45px;
        margin-top: 20px;
    }
    
    .form {
        background-color: #1D263A;
        color: #fff;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .form__container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding-left: 20px;
        padding-right: 20px; */
    }
    .form h1 {
        font-size: 36px;
        line-height: 40px;
        /* margin-left: 10px;
        margin-right: 10px; */
    }
    .about__info h1 {
        font-size: 36px;
        line-height: 40px;
        /* padding-left: 10px;
        padding-right: 10px; */
    }
    /* .about__info p {
        padding-left: 10px;
        padding-right: 10px;
    } */

    button {
        font-family: 'Railway', sans-serif;
        font-size: 15px;
        color: #fff;
        background-color: #23a030;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
        padding: 15px;
    }

    footer {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        font-weight: 600;
    }

    .promo {
        display: grid;
        /* justify-content: space-between; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
        gap:0;
    }
    
    .promo__left {
        grid-row: 2;
        background: url(../img/promo.jpg);
        background-size: cover;
        background-position: right;
        height: 500px;
        flex-shrink: 0;
    
    }
    
    .promo__right {
        grid-row: 1;
        background-color: #dd5f26;
        padding: 50px 10px 50px 10px;
    }
}